<%= simple_form_for @diff, html: { class: 'form-horizontal', :multipart => true },
  wrapper: :horizontal_form do |f| %>
  <div class="col-md-6">
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :title, placeholder: 'Title'  %>
        <%= f.input :description, placeholder: 'Description'  %>
        <%= f.association :config_file, label: 'Config File' %>
        <%= f.association :left_file_set, label: 'Left File Set' %>
        <%= f.association :right_file_set, label: 'Right File Set' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, {:class=>"btn btn-primary"} %>
        <%= link_to "Cancel", diffs_path, {:class=>"btn btn-warning"} %>
      </div>
  </div>
<% end %>

