<h1>Listing diffs</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Config file</th>
      <th>Left</th>
      <th>Right</th>
      <th>Last Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @diffs.each do |diff| %>
      <tr>
        <td><%= diff.title %></td>
        <td><%= diff.description %></td>
        <td><%= diff.config_file.name %></td>
        <td><%= diff.left_file_set.name %></td>
        <td><%= diff.right_file_set.name %></td>
        <td>
          <% if diff.results.first.nil? %>
            &nbsp;
          <% else %>
            <%= diff.results.first.updated_at.localtime.strftime("%F %T %Z") %>
          <% end %>
        </td>
        <td><%= link_to 'Show', diff %></td>
        <td><%= link_to 'Edit', edit_diff_path(diff) %></td>
        <td><%= link_to 'Destroy', diff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Diff', new_diff_path %>
