<%= simple_form_for @diff, html: { class: 'form-horizontal', :multipart => true },
  wrapper: :horizontal_form do |f| %>
  <div class="col-md-6">
  <p id="notice"><%= notice %></p>

      <div class="form-inputs">
        <%= f.input :title, placeholder: 'Title', disabled: true  %>
        <%= f.input :description, placeholder: 'Description', disabled: true  %>
        <%= f.association :config_file, label: 'Config File', disabled: true  %>
        <%= f.association :left_file_set, label: 'Left File Set', disabled: true  %>
        <%= f.association :right_file_set, label: 'Right File Set', disabled: true  %>
      </div>

      <div class="form-actions">
        <%= link_to "Run", run_diff_path(@diff), class: 'btn btn-success', data: { confirm: 'Are you sure you want this diff to start running?' } %>
        <%= link_to "Edit", edit_diff_path(@diff), class: 'btn btn-primary' %>
        <%= link_to "Back To List", diffs_path, class: 'btn btn-warning' %>
      </div>
  </div>
<% end %>

