<%= simple_form_for @config_file, html: { class: 'form-horizontal', :multipart => true },
  wrapper: :horizontal_form, wrapper_mappings: { file: :horizontal_form_b } do |f| %>
  <div class="col-md-6">
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, placeholder: 'Title'  %>
        <%= f.input :description, placeholder: 'Description'  %>

        <div class="form-group string optional disabled config_file_cf">
          <label class="string optional col-sm-3 control-label" for="config_file_cf">Config File</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                  Browse&hellip; <input  name="config_file[cf]" type="file">
                </span>
              </span>
              <input type="text" class="form-control" value="<%= @config_file.cf_file_name %>" readonly>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, {:class=>"btn btn-default btn-primary"} %>
        <%= link_to "Back", :back, {:class=>"btn btn-default btn-warning"} %>
      </div>
  </div>
<% end %>


