<h1>Listing config_files</h1>
<p id="notice"><%= notice %></p>

<%= search_form_for @q do |f| %>
  <%= f.label "Search" %>
  <%= f.search_field :name_or_description_or_diffs_title_or_diffs_description_cont %>

  <%= f.submit "search" %>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q,:name, 'Name')%></th>
      <th><%= sort_link(@q,:description,'Description')%></th>
      <th><%= sort_link(@q,'cf_file_name','Config File Name')%></th>
      <th>Used in Diff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @config_files.each do |config_file| %>
      <tr>
        <td><%= config_file.name %></td>
        <td><%= config_file.description %></td>
        <td><%= config_file.cf_file_name %></td>
        <td>
          <% config_file.diffs.each do |diff| %>
            <%= link_to diff.title, diff_path(diff) %><br>
          <% end %>
        </td>
        <td><%= link_to 'Show', config_file, class: 'btn btn-xs btn-success nounderline' %></td>
        <td><%= link_to 'Edit', edit_config_file_path(config_file), class: 'btn btn-xs btn-primary nounderline' %></td>
        <td>
          <% if config_file.can_destroy? %>
            <%= link_to 'Destroy', config_file, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger nounderline' %>
          <% else %>
            <%= link_to 'Destroy', config_file, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-default disabled nounderline' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Config file', new_config_file_path %>
