<%= simple_form_for @user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
  <div class="col-md-6">
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :login, placeholder: 'Login'  %>
        <%= f.input :first_name, placeholder: 'First Name'  %>
        <%= f.input :last_name, placeholder: 'Last Name'  %>
        <%= f.input :email, placeholder: 'Email' %>
      </div>

      <div class="form-actions">
        <%= f.button :submit, {:class=>"btn btn-default btn-primary"} %>
        <%= link_to "Cancel", users_path, {:class=>"btn btn-default btn-warning"} %>
      </div>
  </div>
<% end %>

