<p id="notice"><%= notice %></p>

<p>
  <strong>Login:</strong>
  <%= @user.login %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to "Edit", edit_user_path(@user), {:class=>"btn btn-default btn-primary"} %>
<%= link_to "Back To List", users_path, {:class=>"btn btn-default btn-warning"} %>
