<%= simple_form_for @file_set, html: { class: 'form-horizontal', :multipart => true },
  wrapper: :horizontal_form do |f| %>
  <div class="col-md-6">
      <%= f.error_notification %>
<p id="notice"><%= @notice %></p>

      <div class="form-inputs">
        <%= f.input :name, placeholder: 'Title'  %>
        <%= f.input :description, placeholder: 'Description'  %>

        <div class="form-group string optional disabled file_set_fs">
          <label class="string optional col-sm-3 control-label" for="file_set_fs">File Set</label>
          <div class="col-sm-9">
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-primary btn-file">
                  Browse&hellip; <input  name="file_set[fs]" type="file">
                </span>
              </span>
              <input type="text" class="form-control" value="<%= @file_set.fs_file_name %>" readonly>
            </div>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, {:class=>"btn btn-default btn-primary"} %>
        <%= link_to "Back", :back, {:class=>"btn btn-default btn-warning"} %>
      </div>
  </div>
<% end %>

