<h1>Listing file_sets</h1>
<p id="notice"><%= @notice %></p>

<%= search_form_for @q do |f| %>
  <%= f.label "Search" %>
  <%= f.search_field :name_or_description_or_diffs_left_title_or_diffs_right_title_cont %>

  <%= f.submit "search" %>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q,:name, 'Name')%></th>
      <th><%= sort_link(@q,:description,'Description')%></th>
      <th><%= sort_link(@q,'fs','File Set')%></th>
      <th>Used in Left Diff</th>
      <th>Used in Right Diff</th>
    </tr>
  </thead>

  <tbody>
    <% @file_sets.each do |file_set| %>
      <tr>
        <td><%= file_set.name %></td>
        <td><%= file_set.description %></td>
        <td><%= file_set.fs_file_name %></td>
        <td>
          <% file_set.diffs_left.each do |diff| %>
            <%= diff.title %><br>
          <% end %>
        </td>
        <td>
          <% file_set.diffs_right.each do |diff| %>
            <%= diff.title %><br>
          <% end %>
        </td>
        <td><%= link_to 'Show', file_set %></td>
        <td><%= link_to 'Edit', edit_file_set_path(file_set) %></td>
        <td><%= link_to 'Destroy', file_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New File set', new_file_set_path %>
