<!DOCTYPE html>
<html>
<head>
  <title>Regression</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <%= navbar fixed: 'top' do %>
    <%= navbar_header brand: 'Regression', brand_link: '/home' %>
    <%= navbar_collapse do %>
      <%= navbar_group class: 'foo', id: 'menu' do %>
        <%= navbar_item "Diffs", '/diffs' %>
        <%= navbar_item "File Sets", '/file_sets' %>
        <%= navbar_item "Config Files", '/config_files' %>
      <% end %>
    <% end %>
  <% end %>
</div>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
